#top{
    width:100%;height:100px; border-bottom: 2px solid #ff6700;border-bottom: 2px solid #ff6700;
    .top_con{
       width:1226px;height:74px;margin:0 auto;
       .top_log{
            width: 93px;margin-top:26px;float: left;
           a{display:block;width:48px;height:48px;background:url('../images/hg2.jpg')}
       }
       .top_car{
            height: 48px;float: left;margin-top: 26px;
            h2{float: left;line-height: 48px;font-size: 28px;color: #424242;}
            p{float: left;height: 20px;line-height: 20px;margin-top: 20px;margin-left: 15px;color: #757575;}
       }
       .top_info{
            margin-top:30px;float: right;height: 40px;line-height: 40px;
           a{display:block;padding: 0 5px;float: left;color: #757575;font-size: 12px;}
           span{color: #e0e0e0;float: left;}
       }
    }
}

// #main .clear-fix:after{content:".";height:0;display: block;visibility: hidden;overflow:hidden;clear:both;}
#main{
    padding-top: 38px;padding-bottom: 38px;background: #f5f5f5;
    .main_con{
        width:1226px;min-height:1000px;margin:0 auto;
        .loader{position: relative;margin: 0 auto;width: 4px;height: 20px;background: #ff6700;overflow: visible;animation-delay: 0s;
            transform: scale(1, 1);display:none;}
        .loader:before{margin: -10px 0 0 -10px;animation-delay: .25s;transform: scale(1, 0.3);position: absolute;left: 50%;
            top: 50%;width: 4px;height: 20px;content: '';background: #ff6700;}
        .loader:after{margin: -10px 0 0 6px;animation-delay: .5s;transform: scale(1, 0.5);position: absolute;left: 50%;
            top: 50%;width: 4px;height: 20px;content: '';background: #ff6700;}
        .loader,.loader:before,.loader:after{transform-origin: 50% 50%;animation-name: loader;animation-duration: .3s;
            animation-iteration-count: infinite;animation-direction: alternate-reverse;animation-timing-function: cubic-bezier(0.45, 0.68, 1, 1);}
        .car_no{
            height: 273px;padding-left: 558px;margin: 65px 0 130px;color: #b0b0b0;overflow: hidden;background: url('../images/cart-empty\ \(1\).png')
            no-repeat 124px 0;display:none;
            h2{margin-top:50px;font-size:36px;}
            p{margin: 0 0 20px;font-size: 20px;color: #b0b0b0;}
            a{display: inline-block;margin-right: 10px;width: 170px;height: 48px;line-height: 48px;background: #ff6700;
               color: #fff;text-align: center;border:1px solid #ff6700;}
            a:nth-of-type(2){background-color: #f5f5f5;color: #ff6700; }
        }
        .car_box{
            width: 1226px;min-height:410px;
            .car_list{
                background-color: #fff;
                 .col{float:left;font-size:14px;
                    a{
                        color: #424242;
                    .iconfont{font-size:14px;}
                    }    
                }
                    .col_check{
                        width: 110px; height: 70px;line-height: 70px;
                        .check{display:inline-block; width:18px;height:18px; border:1px solid #ccc;color:#fff;cursor: pointer;
                            margin:0 15px 0 24px;font-size:20px;text-align: center;line-height: 18px; vertical-align: middle;}                                              
                        .ifont{display:inline-block; width:18px;height:18px; border:1px solid #ff6700;background:#ff6700;color:#fff;
                            margin:0 15px 0 24px;font-size:20px;text-align: center;line-height: 18px; vertical-align: middle;cursor: pointer;}
                    }
                    .col_img{width:120px;}
                .col_name{width: 380px;line-height: 70px;}
                .col_price{ width: 75px; padding-right: 84px;text-align:right;color: #424242;line-height: 70px;}
                .col_num{width:150px; text-align: center;  color: #424242;}  
                .col_total{width: 120px; padding-right: 81px;text-align: right;line-height: 70px;} 
                .col_action{width: 80px;   text-align: center;line-height: 70px;color: #424242;}             
                .list_head{
                    height: 70px;line-height: 70px;padding-right: 26px;color: #424242;                                   
                }
                .list_body{
                    height:445pxpx;
                    .body_box{
                        padding: 0 26px 15px 0;
                        .box_top{
                            width:1200px;min-height:86px;
                            .top_row{ 
                                width:1200px;height:86px;border-top: 1px solid #e0e0e0;
                                .col_num{
                                    width:150px;height:36px;padding:20px 0;
                                    .num_con{
                                        width: 148px;height:40px;border: 1px solid #e0e0e0;text-align: center;background-color: #fff;
                                        position: relative;
                                        a{display:block; width: 38px;height: 38px;line-height: 38px;color: #757575;font-size: 20px;float: left;}
                                        input{float: left;width: 72px;height: 38px;line-height: 38px;padding: 0;color: #424242;font-size: 16px;
                                        text-align: center;border:0;}
                                    }
                               }
                            }
                        }
                        .box_center,.box_center1{
                            width:1100px;height:98px;padding-top: 15px;margin-bottom: -2px;margin-left: 100px;position: relative;
                            .col{padding-top: 15px;vertical-align: middle;vertical-align: middle;}
                            .cent_con{
                                width:1100px;height:98px; background-color: #f5f5f5;line-height:70px;
                                .col_img{width:60px;height:66px;padding-right: 52px;padding-left: 20px;}
                                .col_name{
                                    line-height: 70px;
                                   .tags{margin-bottom: 6px;width:380px;height:21px;
                                        span{display: inline-block;width: 60px;height: 18px;line-height: 18px;text-align: center;color: #fff;font-size: 12px;
                                            vertical-align: top;background-color: #e53935;}
                                        }
                                    h3{font-size: 16px;margin-top: 8px;margin-bottom: 8px;color: #424242;line-height:1;}
                                    .name{margin-top:22px;}
                               }
                            }
                            .arrow{position: absolute;top: 5px;left: 39px;width: 0;height: 0;border-width: 0 11px 10px;border-style: dashed dashed solid;
                                border-color: transparent transparent #f5f5f5;overflow: hidden;}
                        }
                        .box_center1{
                            .col_img{
                                span{width:60px;height:60px;display: block;background: url(../images/icon-activity.png) no-repeat -10px -170px;;
                                    text-indent: -9999px;}
                            }
                        }
                        .box_bottom{
                            padding-top: 15px;margin-bottom: -2px;margin-left: 100px;width:1100px;height:99px;
                            .cent{
                                height: 48px;line-height:1;border: 1px solid #e0e0e0;padding-left: 20px;
                                margin-bottom: -1px;color: #424242;cursor: pointer;font-size: 14px;
                                i{display: inline-block;margin-right: 15px;display: inline-block;width: 22px;height: 22px;font-size: 22px;
                                    border-radius: 11px;text-align: center;background-color: #ff6700;color: #fff;vertical-align: middle;
                                    line-height: 1;}
                                a{line-height: 48px;margin-left: 20px;color: #ff6700;}
                            }
                        }
                    }
                }
            }
        }
        .recomment{
            width:1226px;margin:60px auto 0;
            h2{
                position: relative;height: 50px;font-size: 30px;color: #757575;border-top: 1px solid #e0e0e0;
                span{position: absolute;top: -20px;left: 372px;height: 40px;width: 482px;line-height: 40px;text-align: center;
                    background-color: #f5f5f5;display: block;}
            }
            .xm_rem{
                .row{
                    margin-left: -14px;
                    li{
                        margin:0 0 14px 14px;height:300px;width: 234px;background-color: #fff;text-align:center;position: relative;float: left;
                        dl{
                            padding: 0 20px;width:194px;height:280px;
                            dt{
                                padding: 40px 0 15px;height: 145px;
                                img{display: inline;}
                            }
                            dd{margin-bottom: 10px;font-size:14px;height: 18px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;color: #333;}
                            dd:nth-of-type(2){margin-bottom: 10px;color: #ff6700;}
                            dd:nth-of-type(3){
                                color: #757575;margin-bottom: 10px;height:30px;position: relative;
                                a{position: absolute;left: 37px;top: 0;width: 120px;background: #fff;color: #ff6700;
                                    height: 28px;font-size: 12px;line-height: 28px;border: 1px solid #ff6700;text-align: center;cursor: pointer;
                                    display:none;
                                }
                                a:hover{background:#ff6700;color:#fff;}
                            }
                        }
                    }
                    li:hover dd:nth-of-type(3) a{display:block;}
                }
            }
        }
    }
}